sudo : required

language: go

go: master
  
install: go get ./...

branch :
  only :
    - feature

git:
  depth: 10

script: 
  - go build adservice/main.go
  - go build bidservice/main.go
  # - export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
  # - echo "TRAVIS_BRANCH=$TRAVIS_BRANCH, PR=$PR, BRANCH=$BRANCH"

after_success : 
  - if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then 
      echo "Here"
      exit 0;
    fi
    if [ "$TRAVIS_BRANCH" == "develop" ]; then
        echo "Merge to Develop"
        git clone git@github.com:Prashant-Mediastinct/Assignment.git
        echo "after clone"
        git checkout "$TRAVIS_BRANCH" || exit 
        echo "after checkout"
        git merge "$TRAVIS_COMMIT" || exit 
        echo "after merge"
        git push origin "$TRAVIS_BRANCH"  # here need some authorization and url

        echo "Merging Complete!";
      fi