sudo : required

language: go

go: master
  
install: go get ./...

branch :
  only :
    - feature

git:
  depth: 10

script: 
  - go build adservice/main.go
  - go build bidservice/main.go
  # - export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
  # - echo "TRAVIS_BRANCH=$TRAVIS_BRANCH, PR=$PR, BRANCH=$BRANCH"

after_success : 
  - chmod a+x merge.sh
  - ./merge.sh